# Configuration file

##########################################################################################################
# configuration_oil_general
#--------------------------------------------------------------------------------------------------------#
# [Scape and Run:Parasites Oil] General configuration 
# Version:1.0.1
# 
#  
##########################################################################################################

configuration_oil_general {
}


parasite_properties_fried {
    # Eat times. [range: 1 ~ 128, default: 6]
    I:"Fried Adapted Eat times"=6

    # Eat times. [range: 1 ~ 128, default: 2]
    I:"Fried Assimara Eat times"=2

    # Eat times. [range: 1 ~ 128, default: 2]
    I:"Fried Assimilated Eat times"=2

    # Eat times. [range: 1 ~ 128, default: 2]
    I:"Fried Feral Eat times"=2

    # Eat times. [range: 1 ~ 128, default: 1]
    I:"Fried Misted Head Eat times"=1

    # Eat times. [range: 1 ~ 128, default: 1]
    I:"Fried Motivating Head Eat times"=1

    # Eat times. [range: 1 ~ 128, default: 1]
    I:"Fried Moving Head Eat times"=1

    # Set to true for Fried versions to be eatable. [default: true]
    B:"Fried Parasites Eatable"=true

    # Set to false if you want disable Fried versions. [default: true]
    B:"Fried Parasites Enabled"=true

    # Eat times. [range: 1 ~ 128, default: 4]
    I:"Fried Primitive Eat times"=4

    # Eat times. [range: 1 ~ 128, default: 8]
    I:"Fried Pure Eat times"=8
}


