# Configuration file

~CONFIG_VERSION: 0.1.0

world-1215857981 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=hexa
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1245324433 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1257050968 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1401675888 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@hbm
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1486892982 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@trav
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1531889103 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-165778791 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-176393917 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=thori
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1883771422 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=thruster
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1918566978 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-1974054333 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-217972205 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@space
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-340729960 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-350965998 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=camp
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-462731128 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-78688046 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@lyc
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world-843843909 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1069157428 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@refined
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world113318802 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1346468776 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=metallur
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1544803905 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1690200166 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=black ho
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1690200167 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@mcheli
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1732618500 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1818906578 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@mekanism
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1824127944 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=fuel
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1832378348 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world1934315291 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@add
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world2110239125 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world2110239126 {
    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:autocraftingEnabled=true

    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=HARD

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true

    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:recipeBookmarksEnabled=true
}


world270352004 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world64505457 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world67072154 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=@mcheli
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world715228324 {
    B:autocraftingEnabled=true
    B:bookmarkOverlayEnabled=false
    B:cheatItemsEnabled=true
    S:defaultFluidContainerItem=
    B:editEnabled=false
    S:filterText=B-2
    B:overlayEnabled=true
    B:recipeBookmarksEnabled=true
}


world784711666 {
    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:autocraftingEnabled=true

    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true

    # Default item to use to fill up fluids when clicking on a fluid ingredient in the menu, (format: item_name@meta)
    S:defaultFluidContainerItem=

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=cow

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true

    # IF AND ONLY IF recipe bookmarks are enabled, allow autocrafting with them.
    B:recipeBookmarksEnabled=true
}


