# Configuration file

animation {
    B:animation=true
    B:blockAnimations=true
    B:fire=true
    B:lava=true
    B:portal=true
    B:water=true
}


detail {
    B:biomeColors=true
    B:rainSnow=true
    B:sky=true
    B:skyColors=true
    B:stars=true
    B:sunMoon=true
    I:totalStars=1500
    B:voidFog=true
    B:voidParticles=true
}


extra {
    B:advancedItemTooltips=false
    B:hideHeiUntilSearch=false
    B:ignoreReducedDebugInfo=false
    B:modNameTooltip=false
    I:overlayCorner=0
    B:reducedMotion=false
    B:showCoords=false
    B:showFPSExtended=true
    B:showFps=true
    B:steadyDebugHud=false
    I:steadyDebugHudRefreshInterval=20
    I:textContrast=2
    B:toastAdvancement=true
    B:toastRecipe=true
    B:toastSystem=true
    B:toastTutorial=true
    B:toasts=true
    B:useAdaptiveSync=false
}


particle {
    B:blockBreak=true
    B:blockBreaking=true
    B:particles=true
    B:rainSplash=true
}


particle_classes {
    S:disabledClasses <
     >
    S:discoveredClasses <
        com.hbm.particle.ParticleFlamethrower|ParticleFlamethrower
        net.minecraft.client.particle.ParticleEnchantmentTable|ParticleEnchantmentTable
        com.norwood.mcheli.particles.MCH_EntityParticleMarkPoint|MCH_EntityParticleMarkPoint
        com.hbm.particle.ParticleAshes|ParticleAshes
        com.dhanantry.scapeandrunparasites.client.particle.ParticleRage|ParticleRage
        com.hbm.particle.ParticleGiblet|ParticleGiblet
        net.minecraft.client.particle.ParticleSpit|ParticleSpit
        thedarkcolour.futuremc.client.particle.PandaSneezeParticle|PandaSneezeParticle
        net.minecraft.client.particle.ParticleHeart|ParticleHeart
        com.norwood.mcheli.particles.MCH_EntityBlockDustFX|MCH_EntityBlockDustFX
        net.minecraft.client.particle.ParticleLava|ParticleLava
        net.minecraft.client.particle.ParticleBreaking|ParticleBreaking
        energon.srpdeepseadanger.client.particle.ParticleShockWave|ParticleShockWave
        com.dhanantry.scapeandrunparasites.client.particle.ParticleFog|ParticleFog
        com.dhanantry.scapeandrunparasites.client.particle.ParticleMultipleGore|ParticleMultipleGore
        com.hbm.particle.ParticleDecal|ParticleDecal
        com.hbm.particle.ParticleMukeFlash|ParticleMukeFlash
        net.minecraft.client.particle.ParticleCrit|ParticleCrit
        net.minecraft.client.particle.ParticleWaterWake|ParticleWaterWake
        c4.champions.client.fx.ParticleRank|ParticleRank
        net.minecraft.client.particle.ParticleFirework$Spark|Spark
        com.hbm.particle.ParticleMukeCloud|ParticleMukeCloud
        net.minecraft.client.particle.ParticleSplash|ParticleSplash
        net.minecraft.client.particle.ParticleItemPickup|ParticleItemPickup
        net.minecraft.client.particle.ParticleMobAppearance|ParticleMobAppearance
        micdoodle8.mods.galacticraft.core.client.fx.ParticleLanderFlame|ParticleLanderFlame
        net.minecraft.client.particle.ParticleSuspend|ParticleSuspend
        net.minecraft.client.particle.ParticleDragonBreath|ParticleDragonBreath
        net.minecraft.client.particle.ParticleEndRod|ParticleEndRod
        com.norwood.mcheli.particles.MCH_EntityParticleSplash|MCH_EntityParticleSplash
        net.minecraft.client.particle.ParticleCloud|ParticleCloud
        com.hbm.particle.ParticleExplosionSmall|ParticleExplosionSmall
        com.hbm.particle.ParticleGasFlame|ParticleGasFlame
        net.minecraft.client.particle.ParticleSweepAttack|ParticleSweepAttack
        net.minecraft.client.particle.ParticleDrip|ParticleDrip
        com.norwood.mcheli.particles.MCH_EntityParticleSmoke|MCH_EntityParticleSmoke
        com.hbm.particle.ParticleLargeBlockDebris|ParticleLargeBlockDebris
        net.minecraft.client.particle.ParticleExplosion|ParticleExplosion
        energon.srpextra.client.particle.ParticleStung|ParticleStung
        net.minecraft.client.particle.ParticleSmokeNormal|ParticleSmokeNormal
        com.hbm.particle.ParticleMukeWave|ParticleMukeWave
        thedarkcolour.futuremc.client.particle.SoulFlameParticle|SoulFlameParticle
        com.hbm.particle.ParticleExSmoke|ParticleExSmoke
        com.hbm.particle.ParticleSkeleton|ParticleSkeleton
        org.orecruncher.dsurround.client.fx.particle.ParticleDripOverride|ParticleDripOverride
        com.hbm.particle.ParticleSpark|ParticleSpark
        com.hbm.particle.ParticleSlicedMob|ParticleSlicedMob
        com.hbm.particle.ParticleRocketFlame|ParticleRocketFlame
        net.minecraft.client.particle.ParticleBubble|ParticleBubble
        net.minecraft.client.particle.ParticleSmokeLarge|ParticleSmokeLarge
        net.minecraft.client.particle.ParticleTotem|ParticleTotem
        com.dhanantry.scapeandrunparasites.client.particle.ParticleBiomass|ParticleBiomass
        com.sirsquidly.oe.client.particle.ParticleInk|ParticleInk
        net.minecraft.client.particle.ParticleSpell|ParticleSpell
        net.minecraft.client.particle.Barrier|Barrier
        net.minecraft.client.particle.ParticleDigging|ParticleDigging
        net.minecraft.client.particle.ParticleExplosionHuge|ParticleExplosionHuge
        com.hbm.particle.ParticleFlameNT|ParticleFlameNT
        com.norwood.mcheli.particles.MCH_EntityParticleExplode|MCH_EntityParticleExplode
        com.hbm.particle.ParticleBlood|ParticleBlood
        net.minecraft.client.particle.ParticleBlockDust|ParticleBlockDust
        chumbanotz.mutantbeasts.client.particle.EndersoulParticle|EndersoulParticle
        com.hbm.particle.ParticleSpentCasing|ParticleSpentCasing
        com.unseen.nb.client.particles.ParticleObsidianTear|ParticleObsidianTear
        net.minecraft.client.particle.ParticleExplosionLarge|ParticleExplosionLarge
        net.minecraft.client.particle.ParticleRain|ParticleRain
        com.dhanantry.scapeandrunparasites.client.particle.ParticleRHappy|ParticleRHappy
        com.maidnarch.srpcalamity.particle.CherryParticle|CherryParticle
        net.minecraft.client.particle.ParticleNote|ParticleNote
        mekanism.client.render.particle.TieredParticleDigging|TieredParticleDigging
        cofh.core.render.particle.EntityDropParticleFX|EntityDropParticleFX
        net.minecraft.client.particle.ParticleSuspendedTown|ParticleSuspendedTown
        net.minecraft.client.particle.ParticleFallingDust|ParticleFallingDust
        energon.srpdeepseadanger.client.particle.ParticleBiomassVeru|ParticleBiomassVeru
        energon.srpdeepseadanger.client.particle.ParticleSplashD|ParticleSplashD
        net.minecraft.client.particle.ParticleFootStep|ParticleFootStep
        net.minecraft.client.particle.ParticleSnowShovel|ParticleSnowShovel
        com.dhanantry.scapeandrunparasites.client.particle.ParticleDot|ParticleDot
        com.dhanantry.scapeandrunparasites.client.particle.ParticleRGBSmoke|ParticleRGBSmoke
        com.dhanantry.scapeandrunparasites.client.particle.ParticleSpore|ParticleSpore
        com.hbm.particle.ParticleSmokePlume|ParticleSmokePlume
        net.minecraft.client.particle.ParticleRedstone|ParticleRedstone
        thedarkcolour.futuremc.client.particle.CampfireParticle|CampfireParticle
        net.minecraft.client.particle.ParticlePortal|ParticlePortal
        net.minecraft.client.particle.ParticleFlame|ParticleFlame
        mekanism.client.render.particle.RadiationParticle|RadiationParticle
        chumbanotz.mutantbeasts.client.particle.SkullSpiritParticle|SkullSpiritParticle
     >
}


particle_types {
    B:barrier=true
    B:cloud=true
    B:crit=true
    B:damageIndicator=true
    B:dragonBreath=true
    B:drip=true
    B:enchantmentTable=true
    B:endRod=true
    B:explosion=true
    B:fallingDust=true
    B:fireworks=true
    B:flame=true
    B:heart=true
    B:itemCrack=true
    B:mobAppearance=true
    B:note=true
    B:portal=true
    B:redstone=true
    B:slime=true
    B:smoke=true
    B:snowball=true
    B:spell=true
    B:spit=true
    B:suspended=true
    B:sweepAttack=true
    B:totem=true
    B:townAura=true
    B:villager=true
    B:water=true
}


render {
    B:armorStands=true
    B:beacons=true
    I:cloudDistance=0
    I:cloudHeight=256
    I:cloudScale=4
    I:cloudTranslucency=0
    B:clouds=true
    B:enchantingTableBooks=true
    B:fog=true
    I:fogDistance=0
    I:fogStart=0
    I:fogType=0
    I:itemFrameLodDistance=150
    B:itemFrameNameTag=true
    B:itemFrames=true
    B:lightUpdates=true
    B:limitBeaconBeamHeight=false
    B:paintings=true
    B:pistons=true
    B:playerNameTag=true
    B:preventShaders=false
}


