# Configuration file

general {
    I:AlienBug=0
    I:ArmySoldier=0
    I:AttackHelicopter=0
    I:Bandit=0
    I:Commando=0
    I:EntityAboBodies=0
    I:EntityAlafha=0
    I:EntityAnged=0
    I:EntityArchaeologist=0
    I:EntityArcticSpark=0
    I:EntityAreaEffectCloud=0
    I:EntityArmorStand=0
    I:EntityAshen=0
    I:EntityAvaton=0
    I:EntityBabyCreeper=0
    I:EntityBabyEnderman=0
    I:EntityBabySkeleton=0
    I:EntityBabySquid=0
    I:EntityBabyStray=0
    I:EntityBano=0
    I:EntityBanoAdapted=0
    I:EntityBanshee=0
    I:EntityBat=0
    I:EntityBee=0
    I:EntityBogged=0
    I:EntityBulletBaseMK4=0
    I:EntityCanra=0
    I:EntityCanraAdapted=0
    I:EntityChicken=0
    I:EntityCinderSpark=0
    I:EntityClam=0
    I:EntityCockatrice=0
    I:EntityCod=0
    I:EntityCorpse=0
    I:EntityCow=0
    I:EntityCrab=0
    I:EntityCreeper=0
    I:EntityCreeperGold=0
    I:EntityCreeperNuclear=0
    I:EntityCreeperPhosgene=0
    I:EntityCreeperVolatile=0
    I:EntityCruxB=0
    I:EntityCubeCompanion=0
    I:EntityCubeNormal=0
    I:EntityDodT=0
    I:EntityDolphin=0
    I:EntityDone=0
    I:EntityDonkey=0
    I:EntityDorpa=0
    I:EntityDorpaHead=0
    I:EntityDrowned=0
    I:EntityDweller=0
    I:EntityEmana=0
    I:EntityEmanaAdapted=0
    I:EntityEnderPearl=0
    I:EntityEnderman=0
    I:EntityEsor=0
    I:EntityFallingBlock=0
    I:EntityFalloutRain=0
    I:EntityFerDolphin=0
    I:EntityFerFish=0
    I:EntityFerOcelot=0
    I:EntityFerPig=0
    I:EntityFerSheep=0
    I:EntityFerSquid=0
    I:EntityFlog=0
    I:EntityFoglet=0
    I:EntityForgotten=0
    I:EntityForla=0
    I:EntityFrog=0
    I:EntityGanro=0
    I:EntityGhostSwarmer=0
    I:EntityGhoul=0
    I:EntityGlowingOne=0
    I:EntityGore=0
    I:EntityGoreAqua=0
    I:EntityGraveRobber=0
    I:EntityGraveRobberGhost=0
    I:EntityGrenadeFlare=0
    I:EntityGrenadeMk2=0
    I:EntityGrenadeSmart=0
    I:EntityGrenadeStrong=0
    I:EntityHeed=0
    I:EntityHippocampus=0
    I:EntityHorgoAdapted=0
    I:EntityHorse=0
    I:EntityHost=0
    I:EntityHull=0
    I:EntityHullAdapted=0
    I:EntityHusk=0
    I:EntityInfChicken=0
    I:EntityInfHuman=0
    I:EntityInfHumanHead=0
    I:EntityInfSpider=0
    I:EntityInfSquid=0
    I:EntityInfSquidHead=0
    I:EntityInhooM=0
    I:EntityInhooS=0
    I:EntityIrol=0
    I:EntityItem=0
    I:EntityItemFrame=0
    I:EntityItemSoulCrystal=0
    I:EntityJail=0
    I:EntityJwoy=0
    I:EntityLatchedRenderer=0
    I:EntityLlama=0
    I:EntityLlamaSpit=0
    I:EntityLobster=0
    I:EntityLodo=0
    I:EntityLumAdapted=0
    I:EntityMeleeRougeAndroidMob=0
    I:EntityMes=0
    I:EntityMeteor=0
    I:EntityMimic=0
    I:EntityMinecartChest=0
    I:EntityMinecartEmpty=0
    I:EntityMinecartTNT=0
    I:EntityMooshroom=0
    I:EntityMudo=0
    I:EntityMummy=0
    I:EntityNade=0
    I:EntityNak=0
    I:EntityNogla=0
    I:EntityNoglaAdapted=0
    I:EntityNukeExplosionMK5=0
    I:EntityNukeTorex=0
    I:EntityOmboo=0
    I:EntityOrbBoom=0
    I:EntityOrbScary=0
    I:EntityOrch=0
    I:EntityPainting=0
    I:EntityParrot=0
    I:EntityPig=0
    I:EntityPingu=0
    I:EntityPiranha=0
    I:EntityPlayerSP=0
    I:EntityPotion=0
    I:EntityProjectileNade=0
    I:EntityProjectileSpineball=0
    I:EntityProjectileWebball=0
    I:EntityPtera=0
    I:EntityPufferfish=0
    I:EntityRabbit=0
    I:EntityRangedRogueAndroidMob=0
    I:EntityRanrac=0
    I:EntityRanracAdapted=0
    I:EntityRaven=0
    I:EntityRekin=0
    I:EntityRemain=0
    I:EntityRemainAqua=0
    I:EntityRubble=0
    I:EntitySalmon=0
    I:EntityScarecrow=0
    I:EntityScent=0
    I:EntitySeaHag=0
    I:EntitySeaSerpent=0
    I:EntitySheep=0
    I:EntityShyco=0
    I:EntityShycoAdapted=0
    I:EntitySilverfish=0
    I:EntitySkeleton=0
    I:EntitySlime=0
    I:EntitySnowVillager=0
    I:EntitySpider=0
    I:EntitySquid=0
    I:EntityStoneling=0
    I:EntityTNTPrimed=0
    I:EntityTippedArrow=0
    I:EntityTntNew=0
    I:EntityToxicCloud=0
    I:EntityTrident=0
    I:EntityTropicalFish=0
    I:EntityTropicalSlime=0
    I:EntityTurtle=0
    I:EntityUlta=0
    I:EntityUnburied=0
    I:EntityUndeadSwine=0
    I:EntityUndertaker=0
    I:EntityViin=0
    I:EntityVillager=0
    I:EntityVolk=0
    I:EntityWave=0
    I:EntityWaveShock=0
    I:EntityWeta=0
    I:EntityWitch=0
    I:EntityWitherSkeleton=0
    I:EntityWolf=0
    I:EntityWraith=0
    I:EntityXPOrbBig=0
    I:EntityXor=0
    I:EntityZombie=0
    I:EntityZombieFrozen=0
    I:EntityZombieMushroom=0
    I:EntityZombiePiranha=0
    I:EntityZombieVillager=0
    I:FlyingGibs=0
    I:GenericProjectile=0
    I:MCH_EntityAAMissile=0
    I:MCH_EntityASMissile=0
    I:MCH_EntityATMissile=0
    I:MCH_EntityBomb=0
    I:MCH_EntityBullet=0
    I:MCH_EntityCartridge=0
    I:MCH_EntityFlare=0
    I:MCH_EntityHeli=0
    I:MCH_EntityMarkerRocket=0
    I:MCH_EntityPlane=0
    I:MCH_EntityRocket=0
    I:MCH_EntitySeat=0
    I:MCH_EntityShip=0
    I:MCH_EntityTank=0
    I:MCH_EntityTorpedo=0
    I:MCH_EntityTvMissile=0
    I:MCH_EntityUavStation=0
    I:MCH_EntityVehicle=0
    I:MCH_ViewEntityDummy=0
    I:NyxEntityFallingStar=0
    I:PsychoSteve=0
    I:SkeletonSoldier=0
    I:StoneBulletProjectile=0
    I:ZombieFarmer=0
    I:ZombieMiner=0
    I:ZombiePoliceman=0
    I:ZombieSoldier=0
    I:"update Interval"=1000
}


