# Configuration file

general {
    I:Bandit=1
    I:EntityAboBodies=1
    I:EntityBabySkeleton=1
    I:EntityBano=1
    I:EntityBanoAdapted=1
    I:EntityBat=1
    I:EntityChicken=1
    I:EntityCow=1
    I:EntityCreeper=1
    I:EntityCruxB=1
    I:EntityDodT=1
    I:EntityDrowned=1
    I:EntityEmana=1
    I:EntityEmanaAdapted=1
    I:EntityFerSheep=1
    I:EntityFlog=1
    I:EntityFoglet=1
    I:EntityGanro=1
    I:EntityGhoul=1
    I:EntityGlowingOne=1
    I:EntityHeed=1
    I:EntityHost=1
    I:EntityHullAdapted=1
    I:EntityLlama=1

    # Set to 0 if you don't want that entclass to shine light when on fire
    I:EntityLodo=1
    I:EntityMes=1
    I:EntityMudo=1
    I:EntityOmboo=1
    I:EntityOrch=1
    I:EntityPig=1
    I:EntityRanrac=1
    I:EntityRanracAdapted=1
    I:EntityRaven=1
    I:EntitySheep=1
    I:EntityShyco=1
    I:EntityShycoAdapted=1
    I:EntitySkeleton=1
    I:EntitySpider=1
    I:EntityTippedArrow=1
    I:EntityUnburied=1
    I:EntityUndeadSwine=1
    I:EntityViin=1
    I:EntityVillager=1
    I:EntityWaveShock=1
    I:EntityWitch=1
    I:EntityWolf=1
    I:EntityWraith=1
    I:EntityZombie=1
    I:EntityZombieFrozen=1
    I:EntityZombieMushroom=1
    I:SkeletonSoldier=1
    I:ZombieFarmer=1
    I:ZombieMiner=1
    I:ZombieSoldier=1
    I:"update Interval"=1000
}


