# Configuration file

~CONFIG_VERSION: 1.0

ai {

    general {
        # When a mob that has an AI dies, it gets one last task update. If the tweaked digging AI is used, this allows for partially mined blocks to be visually reset to their unmined state when the mob dies. Enabling this option may or may not lead to unexpected issues for other AI types.
        # ConfigName : updateAITaskOnDeath
        B:updateAITaskOnDeath=true
    }

    digging {
        # Replaces ESM Digging AI by this mod's one (which is based on it). This is required for other AI options to take effect.
        # Can only be changed when the server/world is not running.
        # ConfigName : useTweakedAI
        B:useTweakedAI=true

        # Mobs that can break blocks will only be able to do so if they have the right tool for it. (They cannot break blocks that require specific tool class/level without such tool, as defined by ToolProgression mod). Disabling this option allows them to break any 'breakable' block by hand.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : mustHaveCorrectTool
        B:mustHaveCorrectTool=true

        # Checks digging mob's main and off hand if a tool is required to break the block.
        # Requires: "Mob Tool Check", "Use Tweaked AI", to be enabled.
        # ConfigName : checkBothHands
        B:checkBothHands=true

        # Defines how many ticks the mob waits between each attempt to find a block to break. Even if the block cannot be broken, each check counts as an attempt, which means the mob waits again, and repeats this process until he finds a valid block or dies.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : searchBlockInterval
        I:searchBlockInterval=4

        # Defines how often (in ticks) the periodical check to determine if the mob is still capabale of harvesting the currently mined block is run. As an example, if a mob were to break its tool while mining a block that requires it, he is going to continue mining it (at reduced speed) for the set time.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : harvestCheckInterval
        I:harvestCheckInterval=20

        # When enabled, diggings mob may get a chance to obtain a pickaxe when spawned. Even if this setting is disabled, they can still get one or other items that way from minecraft vanilla behavior or other mods. This setting only gives them 'another chance' to get one.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : shouldGetExtraTool
        B:shouldGetExtraTool=true

        # If this is enabled and digging mobs gets the chance to receive the pickaxe on spawn, then the pickaxe replaces whatever that mob was holding in its main hand, else the pickaxe is not received and the main hand item is kept.
        # Requires: "Receive Pickaxe On Spawn", "Use Tweaked AI", to be enabled.
        # ConfigName : overrideTool
        B:overrideTool=false

        # The probability for the digging mob to be given a pickaxe when spawning.
        # 0 = never gets one, 100 = always gets it.
        # Requires: "Receive Pickaxe On Spawn", "Use Tweaked AI", to be enabled.
        # ConfigName : extraToolChance
        I:extraToolChance=10

        # Uses Epic Siege Mod original verification method to check if the mob is allowed to mine the block or not.
        # Takes priority over other settings.
        # Requires: "Use Tweaked AI", to be enabled.
        # ConfigName : legacyHarvestCheck
        B:legacyHarvestCheck=false
    }

}


debug {
    # Debug mode toogle.
    # Must be enabled for options in this category to work.
    # ConfigName : enableDebug
    B:enableDebug=false

    # When left-clicking a block, a message saying if the block can be broken with the current held tool (defaults to mainhand) will be shown.
    # Requires: "Enable Debug", to be enabled.
    # ConfigName : displayCanBreakBlockMessage
    B:displayCanBreakBlockMessage=false

    # When left-clicking a block, some of its properties and infos related to block breaking will be output to the chat.
    # Requires: "Enable Debug", to be enabled.
    # ConfigName : displayBlockInfoInChat
    B:displayBlockInfoInChat=false

    # The offhand held item will be used instead of main hand one for debug messages checks. This makes it easier for left clicking in creative mode with less destructive items such as swords.
    # ConfigName : useOffHandItem
    B:useOffHandItem=false

    # Sets the global log level for this mod's logging messages.
    # ConfigName : loggingLevel
    S:loggingLevel=INFO
}


