# Configuration file

general {
    # Fixes compatibility between Dynamic Stealth and Ice and Fire 2.0.0+.
    B:"Ice and Fire Patch"=true
    B:"Mob Amputation Patch"=true

    ##########################################################################################################
    # movement
    #--------------------------------------------------------------------------------------------------------#
    # Wall Jump and Reskillable integration settings.
    ##########################################################################################################

    movement {
        B:"Enable Double Jump Trait"=true

        # Gates Wall Jump features behind Reskillable traits.
        B:"Enable Reskillable Integration"=true
        B:"Enable Wall Cling Trait"=true
        B:"Enable Wall Jump Trait"=true
    }

    ##########################################################################################################
    # locks patch
    #--------------------------------------------------------------------------------------------------------#
    # Locks mod fixes.
    ##########################################################################################################

    "locks patch" {
        # Fixes a NullPointerException in the Locks mod when selection capability is null.
        B:"Enable Null Fix"=true
    }

    ##########################################################################################################
    # bestiary
    #--------------------------------------------------------------------------------------------------------#
    # Universal Bestiary extension settings.
    ##########################################################################################################

    bestiary {
        # Enables custom data-driven entries for Universal Bestiary.
        B:"Enable Custom Entries"=true
    }

    ##########################################################################################################
    # antique atlas
    #--------------------------------------------------------------------------------------------------------#
    # Antique Atlas Overlay tweaks.
    ##########################################################################################################

    "antique atlas" {
        # Shows the Antique Atlas mini map overlay when the atlas item is anywhere in the player's inventory, not just the hotbar.
        B:"Enable Inventory Overlay"=true
    }

}


