# Configuration file

settings {
    S:"Extended Potion Item Names" <
     >
    S:"Item List" <
        hbm:iv_xp_empty
        hbm:iv_xp
     >
    I:"New Stack Size"=1
    S:"Unique Stacksize Item Names" <
     >
    I:"Unique Stacksize Item sizes" <
        1
        64
        64
     >
    B:"Update the stacksize of all 64 stackable items"=false
}


