# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# The General Configuration for this Mod.
##########################################################################################################

general {
    # Should Players be able to make Arrowshafts out of Avaritia Materials? [default: false]
    B:avaritiaArrowShafts=false

    # Tweak the EntityPlayer class to make the bound modifier more reliable [default: true]
    B:boundTweak=true

    # Should tools with the Cosmic Trait be able to mine Bedrock? [default: true]
    B:cosmicBedrockMiner=true

    # Should Players with a full Armor with Infinity parts be able to fly? [default: true]
    B:cosmicFullArmorFlight=true

    # Enables / Disables some debug output. [default: false]
    B:debug=false

    # Should ToMeTinkers re-add the old Enchanted Golden Apple Recipe? [default: true]
    B:enchantedGoldenAppleRecipe=true

    # Registers Advanced Rocketrys Dilithium Crystal as OreDictionary "gemDilithium". [default: true]
    B:gemDilithiumOreDict=true

    # Whether gems should be used in the Smeltery / Casting Table. (if false gems will be used in the Part Builder) [default: false]
    B:meltGems=false

    # Registers Avaritias Neutronium Nugget as OreDictionary "nuggetCosmicNeutronium". [default: true]
    B:neutroniumNuggetOreDict=true

    # Should Players be able to craft Arrowshaft Casts?(they can't be casted because that creates gold bolt cores, and i cant change that.) [default: true]
    B:shaftCastRecipe=true

    # Should supermassive(Neutronium Trait) work as Resistant 3? [default: true]
    B:supermassiveResistant=true
}


##########################################################################################################
# materials
#--------------------------------------------------------------------------------------------------------#
# The Materials Configuration for this Mod.(used to Enable / Disable Materials)
##########################################################################################################

materials {
}


##########################################################################################################
# modifiers
#--------------------------------------------------------------------------------------------------------#
# The Modifiers Configuration for this Mod.(used to Enable / Disable Modifiers)
##########################################################################################################

modifiers {
}


