# Configuration file

##########################################################################################################
# ai
#--------------------------------------------------------------------------------------------------------#
# Settings regarding custom ai for mobs
##########################################################################################################

ai {
    # List for of pairs containing which mobs auto target others. Syntax is [mob id]-[mob id or class name] where second value is the target.
    #  e.g. minecraft:zombie-minecraft:skeleton makes all zombies target skeletons [default: ]
    S:"Auto Target List" <
     >

    # Whitelist for blocks, which can be actively broken. Usage: <registry name;classname;oredict> put "!" infront to exclude blocks [default: [minecraft:glass], [minecraft:stained_glass], [minecraft:fence_gate], [BlockDoor], [!minecraft:iron_door], [minecraft:glass_pane], [minecraft:stained_glass_pane]]
    S:"Block Whitelist" <
        minecraft:glass
        minecraft:stained_glass
        minecraft:fence_gate
        minecraft:glass_pane
        minecraft:stained_glass_pane
     >

    # Treat Block Whitelist as Blocklist [default: false]
    B:"Block as Blacklist"=false

    # Should mobs be able to break tile entities? Evaluated before the break list [default: true]
    B:"Break Tiles"=true

    # Chance for a mob to be able to break blocks. [range: 0.0 ~ 1.0, default: 0.3]
    S:"Breaker Chance"=0.3

    # Item which will be given to mobs who can break blocks. Set to nothing to not give any items. [default: minecraft:diamond_pickaxe]
    S:"Breaking item"=minecraft:iron_pickaxe

    # Difficulty at which mobs are able to break blocks[default: 0.0]
    D:"Difficulty Break AI"=0.0

    # Difficulty at which mobs are able to steal items[default: 0.0]
    D:"Difficulty Steal AI"=20.0

    # Chance for neutral mobs to be aggressive [range: 0.0 ~ 1.0, default: 0.2]
    S:"Neutral Aggressive Chance"=0.3

    # Delay for the coroutil repair block. Coroutil integration needs to be enabled.
    I:"Repair Ticks"=500

    # Use the block breaking sound instead of a knocking sound [default: false]
    B:Sound=false

    # Chance for a mob to be able to steal items. [range: 0.0 ~ 1.0, default: 0.5]
    S:"Stealer Chance"=0.5
}


##########################################################################################################
# attributes
#--------------------------------------------------------------------------------------------------------#
# Settings for attribute modifiers
##########################################################################################################

attributes {
    # Damage will be multiplied by difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Damage Increase Multiplier"=0.05

    # Health will be multiplied by difficulty*0.016*x. Set to 0 to disable.[default: 1.0]
    D:"Health Increase Multiplier"=0.05

    # Knockback will be increased by difficulty*0.002*x. Set to 0 to disable.[default: 1.0]
    D:"Knockback Increase"=0.0

    # Magic resistance will be increased by difficulty*0.0016*x. Set to 0 to disable.[default: 1.0]
    D:"Magic Resistance Increase"=0.1

    # Damage will be multiplied by at maximum this. Set to 0 means no limit. [default: 3.0]
    D:"Max Damage Increase"=3.0

    # Health will be multiplied by at maximum this. Set to 0 means no limit[default: 5.0]
    D:"Max Health Increase"=3.0

    # Maximum increase in knockback. [range: 0.0 ~ 1.0, default: 0.5]
    S:"Max Knockback"=0.5

    # Maximum increase in magic resistance. Magic reduction is percentage [range: 0.0 ~ 1.0, default: 0.4]
    S:"Max Magic Resistance"=0.5

    # Projectile damage will be multiplied by maximum of this.[default: 2.0]
    D:"Max Projectile Damage"=2.0

    # Maximum increase in speed. [range: 0.0 ~ 1.0, default: 0.1]
    S:"Max Speed"=0.1

    # Projectile Damage will be multiplied by 1+difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Projectile Damage Increase"=0.1

    # Round health to the nearest x. Set to 0 to disable.[default: 0.5]
    D:"Round HP"=0.5

    # Speed will be increased by difficulty*0.0008*x. Set to 0 to disable.[default: 1.0]
    D:"Speed Increase"=0.001
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debugging
##########################################################################################################

debug {
    # Enable showing of entity paths (might/will cause lag) [default: false]
    B:"Path Debugging"=false
}


##########################################################################################################
# equipment
#--------------------------------------------------------------------------------------------------------#
# Configs regarding mobs spawning with equipment
##########################################################################################################

equipment {
    # Base chance for each additional armor pieces [range: 0.0 ~ 1.0, default: 0.3]
    S:"Additional Equipment Chance"=0.3

    # Adds additional x*difficulty% to base enchanting chance[default: 0.3]
    D:"Enchanting Addition"=0.3

    # Base chance for each armor pieces to get enchanted. [range: 0.0 ~ 1.0, default: 0.2]
    S:"Enchanting Chance"=0.2

    # Adds additional x*difficulty% to base equip chance[default: 0.3]
    D:"Equipment Addition"=0.3

    # Base chance that a mob can have one piece of armor [range: 0.0 ~ 1.0, default: 0.1]
    S:"Equipment Chance"=0.1

    # Blacklist for mods. Add modid to prevent items from that mod being used. (For individual items use the equipment.json) [default: [avaritia], [avaritiaddons]]
    S:"Item Blacklist" <
        avaritia
        avaritiaddons
     >

    # Adds additional x*difficulty% to base item chance[default: 0.2]
    D:"Item Chance add"=0.2

    # Chance for mobs to have an item in offhand. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Item Equip Chance"=0.05

    # Use blacklist as whitelist [default: false]
    B:"Item Whitelist"=false

    # Should mobs drop the armor equipped through this mod? (Other methods e.g. through vanilla is not included) [default: false]
    B:"Should drop equipment"=true

    # Chance for mobs to have a weapon. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Weapon Chance"=0.05

    # Adds additional x*difficulty% to base weapon chance[default: 0.3]
    D:"Weapon Chance Add"=0.3
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# With default value every difficulty perk maxes out at difficulty 250
##########################################################################################################

general {
    # Time in ticks for which the difficulty shouldnt increase at the beginning. One full minecraft day is 24000 ticks[min: 0, default: 0]
    I:"Difficulty Delay"=24000

    # Disable/Enables the whole difficulty scaling of this mod
    B:"Enable difficulty scaling"=true

    # Disable/Enable friendly fire for owned pets. [default: false]
    B:FriendlyFire=false

    # Wether difficulty should only increase with at least one online players or not [default: false]
    B:"Ignore Players"=false

    # Light level, blocks can have at max, so mobs can spawn on them. [range: 0 ~ 15, default: 7]
    I:Light=5

    # Mobs to include for the new light spawning rules. [default: ]
    S:"Light list" <
     >

    # Turn the list list whitelist to blacklist [default: false]
    B:"Light list blacklist"=false

    # Blacklist for pet you should't be able to give armor to. Pets from mods, which have custom armor should be included here. [default: ]
    S:"Pet Blacklist" <
     >

    # Treat pet blacklist as whitelist [default: false]
    B:"Pet Whitelist"=false

    # Should punish time skipping with e.g. bed, commands? If false, difficulty will increase by 0.1 regardless of skipped time. [default: true]
    B:"Punish Time Skip"=true
}


##########################################################################################################
# gui
#--------------------------------------------------------------------------------------------------------#
# Gui Configs
##########################################################################################################

gui {
    # Textformatting codes for the display of the difficulty
    # Valid values:
    # BLACK
    # DARK_BLUE
    # DARK_GREEN
    # DARK_AQUA
    # DARK_RED
    # DARK_PURPLE
    # GOLD
    # GRAY
    # DARK_GRAY
    # BLUE
    # GREEN
    # AQUA
    # RED
    # LIGHT_PURPLE
    # YELLOW
    # WHITE
    S:"Difficulty color"=RED
    I:"Gui X"=610
    I:"Gui Y"=340

    # Scaling of the difficulty text [range: 0.0 ~ 5.0, default: 1.0]
    S:"Text Scale"=1.0
}


##########################################################################################################
# integration
#--------------------------------------------------------------------------------------------------------#
# Settings for mod integration
##########################################################################################################

integration {
    # Should the coroutils repair block be used. (Requires coroutils mod)
    B:"Use CoroUtils Mod"=true

    # Should mobs be able to use weapons from the reforged mod. (Requires reforged mod)
    B:"Use Reforged Mod"=true

    # Should the scaling health mods difficulty system be used instead of this ones. (Requires scaling health mod)
    B:"Use Scaling Health Mod"=true

    # Should mobs be able to use techguns weapons. (Requires techguns mod)
    B:"Use Techguns Mod"=true
}


##########################################################################################################
# list
#--------------------------------------------------------------------------------------------------------#
# Black/Whitelist for various stuff
##########################################################################################################

list {
    # Treat ARMOR flags as whitelist [default: false]
    B:"Armor Equip Whitelist"=false

    # Treat ATTRIBUTES flags as whitelist [default: false]
    B:"Attribute Whitelist"=false

    # Treat SWIMMRIDE flags as whitelist [default: false]
    B:"Boat Whitelist"=true

    # Treat BLOCKBREAK flags as whitelist [default: false]
    B:"Breaker Whitelist"=false

    # Treat HELDITEMS flags as whitelist [default: false]
    B:"Held Equip Whitelist"=false

    # Treat USEITEM flags as whitelist [default: false]
    B:"Item Use Whitelist"=false

    # Treat LADDER flags as whitelist [default: false]
    B:"Ladder Whitelist"=false

    # By default the mod only modifies EntityMobs. Add other entities here if you want to apply modifications to them. Usage: <entity registry name> followed by any of:
    # [ALL,ATTRIBUTES,ARMOR,HELDITEMS,BLOCKBREAK,USEITEM,LADDER,STEAL,SWIMMRIDE,TARGETVILLAGER,REVERSE].
    # Leave empty to apply them all and REVERSE to reverse all flags. Some flags do nothing for certain mobs!
    # example: minecraft:sheep|REVERSE|ATTRIBUTES will add sheep to attributes modification (since default is a blacklist)
    # or minecraft:sheep|ATTRIBUTES will add sheep to everything except attributes
    #  [default: [oe:tropical_fish], [lycanitesmobs:parasight], [nyx:alien_kitty], [lycanitesmobs:balayang], [scp:deviant], [scp:heavy_golem], [lycanitesmobs:geken], [hbm:entity_elder_one], [scp:old_man], [scp:scp3199hatchling], [xat:alphawolf], [lycanitesmobs:trite], [lycanitesmobs:vorach], [lycanitesmobs:cinder], [lycanitesmobs:dagganoth], [lycanitesmobs:serpix], [lycanitesmobs:calpod], [lycanitesmobs:ghoul], [lycanitesmobs:cryptkeeper], [minecraft:horse], [scp:pink_flamingo], [lycanitesmobs:cacodemon], [lycanitesmobs:geonach], [hbm:entity_balls_o_tron], [scp:homunculus], [lycanitesmobs:strider], [scp:shy_guy], [scp:swamp_woman], [lycanitesmobs:rahovart], [scp:glow_drake], [minecraft:llama], [lycanitesmobs:arix], [lycanitesmobs:dweller], [biomesoplenty:wasp], [scp:scp682], [lycanitesmobs:fear], [lycanitesmobs:makaalpha], [scp:scp059_blizzard], [lycanitesmobs:jubjub], [scp:spec_ghost], [lycanitesmobs:reaper], [lycanitesmobs:maug], [scp:scp2521], [lycanitesmobs:cockatrice], [scp:scp_354_14], [lycanitesmobs:geist], [hbm:entity_balls_o_tron_seg], [hbm:entity_hunter_chopper], [hbm:entity_ntm_test_dummy], [scp:scp_354_16], [scp:scp_354_15], [lycanitesmobs:salamander], [scp:scp_354_18], [nb:zoglin], [minecraft:donkey], [lycanitesmobs:kobold], [hbm:entity_pigeon], [oe:glow_squid], [quark:stoneling], [scp:scp_3199], [lycanitesmobs:uvaraptor], [lycanitesmobs:bloodveld], [scp:scp_354_1], [lycanitesmobs:aspid], [scp:scp_354_3], [scp:scp_354_4], [lycanitesmobs:sylph], [lycanitesmobs:eechetik], [lycanitesmobs:nymph], [scp:dark_eyes], [zerascp:scp0372], [area_79_extras:kamidragon], [nb:strider], [scp:builder_bear_c], [techguns:turret], [quark:frog], [scp:builder_bear_a], [lycanitesmobs:belph], [lycanitesmobs:zoataur], [minecraft:mooshroom], [scp:mouse], [minecraft:villager], [oe:baby_glow_squid], [lycanitesmobs:sutiramu], [area_79_extras:flameagent], [lycanitesmobs:krake], [lycanitesmobs:beargon], [area_79_extras:periodicinstance2], [oe:crab], [area_79_extras:periodicinstance1], [lycanitesmobs:jengu], [lycanitesmobs:afrit], [zerascp:roombaduck], [scp:electric_sheep], [lycanitesmobs:zephyr], [lycanitesmobs:grue], [lycanitesmobs:froghemoth], [minecraft:parrot], [quark:crab], [scp:cowbell_entity], [quark:archaeologist], [lycanitesmobs:gnekk], [area_79_extras:eric], [lycanitesmobs:pinky], [lycanitesmobs:dawon], [scp:crystal_butterfly], [futuremc:bee], [lycanitesmobs:wisp], [lycanitesmobs:wildkin], [lycanitesmobs:silex], [mutantbeasts:spider_pig], [scp:scp_2295], [lycanitesmobs:lurker], [lycanitesmobs:lushrak], [lycanitesmobs:clink], [lycanitesmobs:tarantula], [scp:shadow_spider], [scp:young_girl], [oe:cod], [lycanitesmobs:cephignis], [scp:vermin_god], [zerascp:scp895], [coroutil:bat_smart], [minecraft:mule], [quark:leash_knot], [techguns:attackhelicopter], [lycanitesmobs:vespidqueen], [lycanitesmobs:concapede], [lycanitesmobs:tremor], [lycanitesmobs:ignibus], [mutantbeasts:creeper_minion], [lycanitesmobs:crusk], [scp:absent_shark], [lycanitesmobs:bobeko], [zerascp:scp527], [scp:scp087-1], [lycanitesmobs:joustalpha], [scp:scp059_fr], [oe:lobster], [area_79_extras:expunged], [scp:bananazilla], [lycanitesmobs:thresher], [lycanitesmobs:triffid], [lycanitesmobs:spriggan], [lycanitesmobs:vapula], [oe:clam], [lycanitesmobs:joust], [minecraft:chicken], [lycanitesmobs:mbielu], [lycanitesmobs:mycoflawg], [scp:eye_pod], [lycanitesmobs:morock], [hbm:entity_ntm_ufo], [lycanitesmobs:spectre], [lycanitesmobs:lobber], [oe:pufferfish], [lycanitesmobs:vespid], [lycanitesmobs:skysnapper], [lycanitesmobs:necrovore], [scp:plague_doctor], [lycanitesmobs:remobra], [area_79_extras:periodicinstance10], [scp:scp143_fr], [area_79_extras:mechkiddie], [scp:scp160], [minecraft:polar_bear], [lycanitesmobs:wraith], [oe:turtle], [scp:gunk_wyvern], [area_79_extras:periodicinstance18], [lycanitesmobs:gorger], [lycanitesmobs:abaia], [minecraft:pig], [lycanitesmobs:grigori], [minecraft:sheep], [minecraft:ender_dragon], [lycanitesmobs:chupacabra], [lycanitesmobs:wraamon], [scp:scp966], [minecraft:snowman], [quark:foxhound], [lycanitesmobs:molder], [scp:scp4307], [lycanitesmobs:argus], [lycanitesmobs:arisaur], [lycanitesmobs:ent], [scp:scp_josie], [lycanitesmobs:frostweaver], [minecraft:villager_golem], [lycanitesmobs:gargoyle], [area_79_extras:periodicinstance26], [minecraft:squid], [scp:goo_wyvern], [scp:slimy_belly], [lycanitesmobs:ngobou], [minecraft:skeleton_horse], [lycanitesmobs:wendigo], [nyx:comet_kitty], [lycanitesmobs:gorgomite], [minecraft:cow], [lycanitesmobs:amalgalich], [scp:bigfoot], [scp:elc_sheep_lamb], [lycanitesmobs:warg], [lycanitesmobs:conba], [lycanitesmobs:pixen], [lycanitesmobs:subterra froghemoth], [lycanitesmobs:yale], [nb:hoglin], [lycanitesmobs:astaroth], [oe:dolphin], [randomthings:goldenchicken], [zerascp:scp2396], [scp:blob_worm], [scp:rat], [lycanitesmobs:grell], [lycanitesmobs:shade], [lycanitesmobs:abtu], [scp:plant_cow], [lycanitesmobs:aegis], [lycanitesmobs:volcan], [minecraft:shulker], [area_79_extras:pesteringrobot], [scp:eyeball], [mutantbeasts:mutant_snow_golem], [lycanitesmobs:xaphan], [scp:allosaurus], [lycanitesmobs:asmodeus], [lycanitesmobs:darkling], [area_79_extras:patchworkbear], [area_79_extras:joe], [minecraft:rabbit], [artifacts:mimic], [scp:omnivorous_rabbit], [lycanitesmobs:eyewig], [lycanitesmobs:concapedesegment], [futuremc:panda], [scp:living_armor], [lycanitesmobs:barghest], [hbm:entity_fucc_a_ducc], [scp:scp015boss], [lycanitesmobs:roa], [lycanitesmobs:banshee], [lycanitesmobs:roc], [lycanitesmobs:skylus], [lycanitesmobs:behemoth], [minecraft:bat], [zerascp:scp347], [scp:builder_bear], [scp:killer_statue], [lycanitesmobs:mammorith], [area_79_extras:peripheraljumper], [lycanitesmobs:tpumpkyn], [scp:dpersonnel], [lycanitesmobs:jabberwock], [lycanitesmobs:beholder], [lycanitesmobs:troll], [lycanitesmobs:ventoraptor], [lycanitesmobs:augnagar], [lycanitesmobs:archvile], [lycanitesmobs:reiver], [oe:baby_squid], [scp:black_shuck], [lycanitesmobs:lacedon], [scp:ooze_drake], [lycanitesmobs:khalk], [scp:pterodactyl], [lycanitesmobs:raiko], [scp:scp098], [scp:hostile_golem], [lycanitesmobs:fangtusk], [lycanitesmobs:crychnid], [lycanitesmobs:ika], [minecraft:zombie_horse], [lycanitesmobs:erepede], [srparasites:homming], [oe:salmon], [lycanitesmobs:djinn], [lycanitesmobs:quetzodracl], [lycanitesmobs:shambler], [lycanitesmobs:quillbeast], [scp:old_man_d], [lycanitesmobs:treant], [randomthings:spirit], [lycanitesmobs:aglebemu], [lycanitesmobs:herma], [minecraft:ocelot], [lycanitesmobs:ettin], [lycanitesmobs:feradon], [hbm:entity_ntm_fbi_drone], [scp:ice_spider], [lycanitesmobs:ioray], [lycanitesmobs:maka], [minecraft:wolf], [lycanitesmobs:epion], [scp:with_many_voices]]
    S:"More Entities" <
        hbm:entity_elder_one
        openblocks:luggage
        draconicevolution:chaosguardian
        mutantbeasts:spider_pig
        oe:cod
        minecraft:villager_golem
        minecraft:skeleton_horse
        minecraft:mule
        techguns:attackhelicopter
        quark:stoneling
        minecraft:zombie_horse
        mutantbeasts:creeper_minion
        srparasites:homming
        minecraft:shulker
        mutantbeasts:mutant_snow_golem
        artifacts:mimic
     >

    # Treat STEAL flags as whitelist [default: false]
    B:"Steal Whitelist"=false

    # Treat TARGETVILLAGER flags as whitelist [default: false]
    B:"Villager Whitelist"=false
}


