# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:Alien=false
    B:Alosaurus=false
    B:"Attack Squid"=false
    B:BabyCreeper=false
    B:BabyEnderman=false
    B:BabySkeleton=true
    B:BabyStray=true
    B:BabyWitherSkeleton=true
    B:Basilisk=false
    B:Bee=false
    B:Blaze=false
    B:Bomb-Omb=false
    B:Brutalfly=false
    B:CaterKiller=false
    B:CaveFisher=false
    B:CaveSpider=true
    B:"Cloud Shark"=false
    B:Crab=false
    B:Creeper=false
    B:"Creeping Horror"=false
    B:Criminal=false
    B:Cryolophosaurus=false
    B:"Crystal Urchin"=false
    B:"Dungeon Beast"=false
    B:ElderGuardian=false
    B:"Emperor Scorpion"=false
    B:"Ender Knight"=false
    B:"Ender Reaper"=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Ghast=false
    B:Giant=false
    B:Guardian=false
    B:Hammerhead=false
    B:"Hercules Beetle"=false
    B:Husk=true
    B:IllusionIllager=false
    B:Irukandji=false
    B:Jeffery=false
    B:"Jumpy Bug"=false
    B:Kyuubi=false
    B:"Large Worm"=false
    B:LavaSlime=false
    B:"Leaf Monster"=false
    B:"Lurking Terror"=false
    B:Mantis=false
    B:"Medium Worm"=false
    B:Mobzilla=false
    B:Molenoid=false
    B:Mothra=false
    B:Nastysaurus=false
    B:Nightmare=false
    B:PigZombie=false
    B:Pointysaurus=false
    B:Rat=false
    B:Robo-Gunner=false
    B:Robo-Pounder=false
    B:Robo-Sniper=false
    B:Robo-Warrior=false
    B:Rotator=false
    B:Scorpion=false
    B:"Sea Monster"=false
    B:"Sea Viper"=false
    B:Shulker=false
    B:Silverfish=false
    B:Skate=false
    B:Skeleton=true
    B:Slime=false
    B:"Small Worm"=false
    B:Spider=true
    B:"Spider Driver"=true
    B:"Spit Bug"=false
    B:Stray=true
    B:"T. Rex"=false
    B:"Terrible Terror"=false
    B:"The King"=false
    B:"The Kraken"=false
    B:"The Queen"=false
    B:Triffid=false
    B:Vex=false
    B:VindicationIllager=false
    B:Vortex=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieHorse=false
    B:ZombieVillager=true
    B:abaia=false
    B:abtu=false
    B:afrit=false
    B:agent=false
    B:aglebemu=false
    B:amalgalich=false
    B:ant=false
    B:archvile=false
    B:argus=false
    B:arix=false
    B:artifacts.mimic=false
    B:asmodeus=false
    B:astaroth=false
    B:augnagar=false
    B:balayang=false
    B:banshee=false
    B:beargon=false
    B:behemoth=false
    B:belph=false
    B:bossskeleton=true
    B:bosszombie=true
    B:burningman=false
    B:calpod=false
    B:"charm:spectre"=false
    B:cinder=false
    B:clink=false
    B:clockworkzombie=false
    B:cockatrice=false
    B:conba=false
    B:creeper_boss=false
    B:crychnid=false
    B:cryptkeeper=false
    B:cyberzombie=true
    B:cyclops=false
    B:darkheart=false
    B:darkling=false
    B:deathmonster=false
    B:deathmonsterb=false
    B:deeperdepths.bogged=true
    B:deeperdepths.breeze=false
    B:djinn=false
    B:"draconicevolution:ChaosGuardian"=false
    B:dread_beast=false
    B:dread_ghoul=false
    B:dread_knight=false
    B:dread_lich=false
    B:dread_queen=false
    B:dread_scuttler=false
    B:dread_thrall=false
    B:dweller=false
    B:eechetik=false
    B:eerieentities.cursed_armor=false
    B:eerieentities.nether_knight=false
    B:eerieentities.pumpkin_slime=false
    B:end_slime=false
    B:ent=false
    B:entity_cyber_crab=false
    B:entity_glowing_one=true
    B:entity_glyphid=false
    B:entity_glyphid_behemoth=false
    B:entity_glyphid_blaster=false
    B:entity_glyphid_bombardier=false
    B:entity_glyphid_brawler=false
    B:entity_glyphid_brenda=false
    B:entity_glyphid_digger=false
    B:entity_glyphid_nuclear=false
    B:entity_glyphid_scout=false
    B:entity_hunter_chopper=false
    B:entity_mask_man=false
    B:entity_mob_flesh_creeper=false
    B:entity_mob_gold_creeper=false
    B:entity_mob_phosgene_creeper=false
    B:entity_mob_volatile_creeper=false
    B:entity_ntm_fbi=false
    B:entity_ntm_fbi_drone=false
    B:entity_ntm_radiation_blaze=false
    B:entity_ntm_ufo=false
    B:entity_ntm_undead_soldier=false
    B:entity_nuclear_creeper=false
    B:entity_parasite_maggot=false
    B:entity_taint_crab=false
    B:entity_tainted_creeper=false
    B:entity_tesla_crab=false
    B:epion=false
    B:ettin=false
    B:evolved_boss_blaze=false
    B:evolved_boss_ghast=false
    B:evolved_coldblaze=false
    B:evolved_creeper=false
    B:evolved_enderman=false
    B:evolved_skeleton=true
    B:evolved_skeleton_boss=false
    B:evolved_spider=true
    B:evolved_witch=true
    B:evolved_zombie=true
    B:faceinthewindow=false
    B:fangtusk=false
    B:froghemoth=false
    B:frostweaver=false
    B:gameshowhost=false
    B:gargoyle=false
    B:geist=false
    B:geken=false
    B:geonach=false
    B:ghost=false
    B:ghoul=false
    B:gorgomite=false
    B:gorgon=false
    B:grigori=false
    B:grue=false
    B:herma=false
    B:hordes.ZombiePlayer=true
    B:hostilebat=false
    B:if_hydra=false
    B:if_troll=false
    B:ioray=false
    B:jabberwock=false
    B:jengu=false
    B:jubjub=false
    B:juicer=false
    B:kane=false
    B:khalk=false
    B:kobold=false
    B:krake=false
    B:lacedon=false
    B:leviathan=false
    B:lobber=false
    B:lunatic=false
    B:lushrak=false
    B:mobBoat=false
    B:mod_lavacow.amberlord=false
    B:mod_lavacow.avaton=false
    B:mod_lavacow.banshee=false
    B:mod_lavacow.boneworm=false
    B:mod_lavacow.cactyrant=false
    B:mod_lavacow.foglet=false
    B:mod_lavacow.forsaken=true
    B:mod_lavacow.ghoul=false
    B:mod_lavacow.grave_robber=false
    B:mod_lavacow.grave_robber_ghost=false
    B:mod_lavacow.imp=false
    B:mod_lavacow.isnachi=false
    B:mod_lavacow.ithaqua=false
    B:mod_lavacow.pingu=false
    B:mod_lavacow.piranha=false
    B:mod_lavacow.sea_hag=false
    B:mod_lavacow.skeletonking=false
    B:mod_lavacow.sludgelord=false
    B:mod_lavacow.soulworm=false
    B:mod_lavacow.undeadswine=false
    B:mod_lavacow.undertaker=false
    B:mod_lavacow.wraith=false
    B:mod_lavacow.zombiepiranha=false
    B:molder=false
    B:morock=false
    B:mutantbeasts.endersoul_clone=false
    B:mutantbeasts.mutant_creeper=false
    B:mutantbeasts.mutant_enderman=false
    B:mutantbeasts.mutant_skeleton=false
    B:mutantbeasts.mutant_zombie=false
    B:nuclearcraft.feral_ghoul=true
    B:nuclearcraft.glowing_ghoul=true
    B:nyx.alien_creeper=false
    B:oe.drowned=true
    B:oe.drowned_summon=true
    B:oe.pickled=true
    B:oe.tropical_slime=false
    B:parasight=false
    B:piglin=false
    B:piglin_brute=false
    B:piglin_zombie=false
    B:pixen=false
    B:prototype=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:forgotten"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:quetzodracl=false
    B:quillbeast=false
    B:rahovart=false
    B:raiko=false
    B:reaper=false
    B:reiver=false
    B:remobra=false
    B:roa=false
    B:roc=false
    B:salamander=false
    B:scp.plague_zombie=true
    B:scp.scp020zombie=true
    B:scp14991=false
    B:scp205a=false
    B:scp743dash1=false
    B:scp8603=false
    B:shadowperson=false
    B:shambler=false
    B:siren=false
    B:skylus=false
    B:sludgeling=false
    B:spectre=false
    B:spider_queen=false
    B:spriggan=false
    B:srparasites.abo_bodies=false
    B:srparasites.abo_dickens=false
    B:srparasites.abo_head=false
    B:srparasites.abo_virgo=false
    B:srparasites.ada_arachnida=false
    B:srparasites.ada_bolster=false
    B:srparasites.ada_burrower=false
    B:srparasites.ada_devourer=false
    B:srparasites.ada_longarms=false
    B:srparasites.ada_manducater=false
    B:srparasites.ada_reeker=false
    B:srparasites.ada_summoner=false
    B:srparasites.ada_tozoon=false
    B:srparasites.ada_vermin=false
    B:srparasites.ada_viscera=false
    B:srparasites.ada_yelloweye=false
    B:srparasites.airscrew=false
    B:srparasites.anc_dreadnaut=false
    B:srparasites.anc_dreadnaut_ten=false
    B:srparasites.anc_matriarch=false
    B:srparasites.anc_overlord=false
    B:srparasites.anc_pod=false
    B:srparasites.architect=false
    B:srparasites.artisan=false
    B:srparasites.beckon_si=false
    B:srparasites.beckon_sii=false
    B:srparasites.beckon_siii=false
    B:srparasites.beckon_siv=false
    B:srparasites.biomass=false
    B:srparasites.bogle=false
    B:srparasites.bomber_heavy=false
    B:srparasites.bomber_light=false
    B:srparasites.buglin=false
    B:srparasites.carrier_colony=false
    B:srparasites.carrier_flying=false
    B:srparasites.carrier_heavy=false
    B:srparasites.carrier_light=false
    B:srparasites.carrier_micro=false
    B:srparasites.carrier_worm=false
    B:srparasites.crux=false
    B:srparasites.crux_incomplete=false
    B:srparasites.dispatcher_si=false
    B:srparasites.dispatcher_sii=false
    B:srparasites.dispatcher_siii=false
    B:srparasites.dispatcher_siv=false
    B:srparasites.dispatcherten=false
    B:srparasites.draconite=false
    B:srparasites.dredge=false
    B:srparasites.drifter_si=false
    B:srparasites.egg=false
    B:srparasites.fer_bear=false
    B:srparasites.fer_bigspider=false
    B:srparasites.fer_cow=false
    B:srparasites.fer_donkey=false
    B:srparasites.fer_enderman=false
    B:srparasites.fer_endermanhead=false
    B:srparasites.fer_fox=false
    B:srparasites.fer_horse=false
    B:srparasites.fer_human=false
    B:srparasites.fer_llama=false
    B:srparasites.fer_mule=false
    B:srparasites.fer_phantom=false
    B:srparasites.fer_pig=false
    B:srparasites.fer_pighead=false
    B:srparasites.fer_pillager=false
    B:srparasites.fer_sheep=false
    B:srparasites.fer_sheephead=false
    B:srparasites.fer_squid=false
    B:srparasites.fer_squidg=false
    B:srparasites.fer_villager=false
    B:srparasites.fer_wolf=false
    B:srparasites.flea=false
    B:srparasites.folk=false
    B:srparasites.fried_ada_devourer=false
    B:srparasites.fried_ada_longarms=false
    B:srparasites.fried_ada_viscera=false
    B:srparasites.fried_ada_yelloweye=false
    B:srparasites.fried_fer_enderman=false
    B:srparasites.fried_fer_endermanhead=false
    B:srparasites.fried_pri_devourer=false
    B:srparasites.fried_pri_longarms=false
    B:srparasites.fried_pri_viscera=false
    B:srparasites.fried_pri_yelloweye=false
    B:srparasites.fried_sim_enderman=false
    B:srparasites.fried_sim_endermanhead=false
    B:srparasites.gadfly=false
    B:srparasites.gnat=false
    B:srparasites.grunt=false
    B:srparasites.haunter=false
    B:srparasites.heed=false
    B:srparasites.hi_blaze=false
    B:srparasites.hi_bogged=false
    B:srparasites.hi_breeze=false
    B:srparasites.hi_golem=false
    B:srparasites.hi_shulker=false
    B:srparasites.hi_skeleton=false
    B:srparasites.hi_snow=false
    B:srparasites.hi_witherbone=false
    B:srparasites.host=false
    B:srparasites.hostii=false
    B:srparasites.incompleteform_large=false
    B:srparasites.incompleteform_medium=false
    B:srparasites.incompleteform_small=false
    B:srparasites.kirin=false
    B:srparasites.kyphosis=false
    B:srparasites.lice=false
    B:srparasites.mangler=false
    B:srparasites.mar_bear=false
    B:srparasites.mar_cow=false
    B:srparasites.mar_enderman=false
    B:srparasites.mar_human=false
    B:srparasites.mar_pillager=false
    B:srparasites.mar_sheep=false
    B:srparasites.mar_villager=false
    B:srparasites.marauder=false
    B:srparasites.midge=false
    B:srparasites.monarch=false
    B:srparasites.movingflesh=false
    B:srparasites.nucleus=false
    B:srparasites.overseer=false
    B:srparasites.prentice=false
    B:srparasites.pri_arachnida=false
    B:srparasites.pri_bolster=false
    B:srparasites.pri_burrower=false
    B:srparasites.pri_devourer=false
    B:srparasites.pri_ginger=false
    B:srparasites.pri_longarms=false
    B:srparasites.pri_manducater=false
    B:srparasites.pri_phobia=false
    B:srparasites.pri_reeker=false
    B:srparasites.pri_summoner=false
    B:srparasites.pri_tozoon=false
    B:srparasites.pri_vermin=false
    B:srparasites.pri_viscera=false
    B:srparasites.pri_yelloweye=false
    B:srparasites.rooter_si=false
    B:srparasites.rooter_sii=false
    B:srparasites.rooter_siii=false
    B:srparasites.rooter_siv=false
    B:srparasites.rooterball=false
    B:srparasites.rupter=false
    B:srparasites.seeker=false
    B:srparasites.seizer=false
    B:srparasites.sentry=false
    B:srparasites.sim_adventurer=false
    B:srparasites.sim_adventurerhead=false
    B:srparasites.sim_aqua_enderman=false
    B:srparasites.sim_aqua_endermanhead=false
    B:srparasites.sim_bear=false
    B:srparasites.sim_bearhead=false
    B:srparasites.sim_bigcrab=false
    B:srparasites.sim_bigspider=false
    B:srparasites.sim_bigspiderhead=false
    B:srparasites.sim_cow=false
    B:srparasites.sim_cowhead=false
    B:srparasites.sim_donkey=false
    B:srparasites.sim_donkeyhead=false
    B:srparasites.sim_dragone=false
    B:srparasites.sim_dragonehead=false
    B:srparasites.sim_enderman=false
    B:srparasites.sim_endermanhead=false
    B:srparasites.sim_fox=false
    B:srparasites.sim_foxhead=false
    B:srparasites.sim_horse=false
    B:srparasites.sim_horsehead=false
    B:srparasites.sim_human=false
    B:srparasites.sim_humanhead=false
    B:srparasites.sim_llama=false
    B:srparasites.sim_llamahead=false
    B:srparasites.sim_mule=false
    B:srparasites.sim_mulehead=false
    B:srparasites.sim_phantom=false
    B:srparasites.sim_phantomhead=false
    B:srparasites.sim_pig=false
    B:srparasites.sim_pighead=false
    B:srparasites.sim_pillager=false
    B:srparasites.sim_pillagerhead=false
    B:srparasites.sim_sheep=false
    B:srparasites.sim_sheephead=false
    B:srparasites.sim_squid=false
    B:srparasites.sim_squidg=false
    B:srparasites.sim_squidghead=false
    B:srparasites.sim_squidhead=false
    B:srparasites.sim_trader=false
    B:srparasites.sim_traderhead=false
    B:srparasites.sim_villager=false
    B:srparasites.sim_villagerhead=false
    B:srparasites.sim_wolf=false
    B:srparasites.sim_wolfhead=false
    B:srparasites.skatter=false
    B:srparasites.succor=false
    B:srparasites.tendril=false
    B:srparasites.tendril_cutie=false
    B:srparasites.thrall=false
    B:srparasites.tick=false
    B:srparasites.vesicle=false
    B:srparasites.vigilante=false
    B:srparasites.warden=false
    B:srparasites.wave=false
    B:srparasites.waveshock=false
    B:srparasites.wick=false
    B:srparasites.worker=false
    B:srparasites.worm=false
    B:srparasites.wraith=false
    B:srpdeepseadanger.ada_devourer_srpe=false
    B:srpdeepseadanger.ada_hammerhead=false
    B:srpdeepseadanger.bomber_mini=false
    B:srpdeepseadanger.carrier_sea=false
    B:srpdeepseadanger.fer_dolphin=false
    B:srpdeepseadanger.fer_fish=false
    B:srpdeepseadanger.hi_elder_guardian=false
    B:srpdeepseadanger.hi_guardian=false
    B:srpdeepseadanger.leecher=false
    B:srpdeepseadanger.plankton=false
    B:srpdeepseadanger.pri_hammerhead=false
    B:srpdeepseadanger.sim_dolphin=false
    B:srpdeepseadanger.sim_dolphin_head=false
    B:srpdeepseadanger.sim_drowned=false
    B:srpdeepseadanger.sim_fish=false
    B:srpdeepseadanger.sprouter_si=false
    B:srpdeepseadanger.supporter=false
    B:srpdeepseadanger.swimmer=false
    B:srpdeepseadanger.tendril_hammerhead=false
    B:srpextra.ada_serpentine=false
    B:srpextra.ada_stalker=false
    B:srpextra.ada_tozoon_srpe=false
    B:srpextra.ada_vermin_srpe=false
    B:srpextra.fer_ocelot=false
    B:srpextra.hi_creeper=false
    B:srpextra.hi_creeperhead=false
    B:srpextra.hi_skeleton_srpe=false
    B:srpextra.hi_skeletonhead=false
    B:srpextra.hi_skeletonstray=false
    B:srpextra.pri_serpentine=false
    B:srpextra.pri_stalker=false
    B:srpextra.sim_chicken=false
    B:srpextra.sim_evoker=false
    B:srpextra.sim_humanhusk=false
    B:srpextra.sim_humanhuskhead=false
    B:srpextra.sim_ocelot=false
    B:srpextra.sim_ocelothead=false
    B:srpextra.sim_spider=false
    B:srpextra.sim_spidercave=false
    B:srpextra.sim_vindicator=false
    B:srpextra.sim_vindicatorhead=false
    B:srpextra.sim_witch=false
    B:srpextra.sim_witchhead=false
    B:srpextra.swimming_flesh=false
    B:srpextra.tendril_stalker=false
    B:srpextra.tendril_tozoon=false
    B:srpextra.wendigo=false
    B:srpmutantbeasts.hi_mutant_skeleton=false
    B:srpmutantbeasts.sim_mutant_enderman=false
    B:srpmutantbeasts.sim_mutant_zombie=false
    B:srpquark.hi_skeletonashen=false
    B:srpquark.hi_skeletonpirate=false
    B:srpquark.sim_archaeologist=false
    B:srpquark.sim_crab=false
    B:srpquark.sim_dweller=false
    B:srpquark.sim_frog=false
    B:srpquark.sim_stoneling=false
    B:stymphalianbird=false
    B:"subterra froghemoth"=false
    B:sutiramu=false
    B:swordsman=false
    B:sylph=false
    B:tarantula=false
    B:tconstruct.blueslime=false
    B:tconstruct.purpleslime=false
    B:techguns.AlienBug=true
    B:techguns.ArmySoldier=false
    B:techguns.AttackHelicopter=false
    B:techguns.Bandit=false
    B:techguns.Commando=false
    B:techguns.CyberDemon=false
    B:techguns.DictatorDave=false
    B:techguns.DummySpawn=false
    B:techguns.Ghastling=false
    B:techguns.Outcast=false
    B:techguns.PsychoSteve=false
    B:techguns.SkeletonSoldier=false
    B:techguns.StormTrooper=false
    B:techguns.SuperMutantBasic=false
    B:techguns.SuperMutantElite=false
    B:techguns.SuperMutantHeavy=false
    B:techguns.ZombieFarmer=false
    B:techguns.ZombieMiner=false
    B:techguns.ZombiePigmanSoldier=false
    B:techguns.ZombiePoliceman=false
    B:techguns.ZombieSoldier=false
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:thresher=false
    B:toospooky=false
    B:treant=false
    B:tremor=false
    B:triffid=false
    B:trite=false
    B:troll=false
    B:vapula=false
    B:vespid=false
    B:vespidqueen=false
    B:volcan=false
    B:vorach=false
    B:wasp=false
    B:wendigo=false
    B:wendigomonster=false
    B:wildkin=false
    B:wraamon=false
    B:wraith=false
    B:xaphan=false
    B:zephyr=false
    B:zoataur=false
}


